<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/admin">Innskráning stjórnanda</a> <br>
  <a class="link__link" href="/users/login">Innskráning notenda</a> <br>
  <a class="link__link" href="/users/me">Ég</a> <br>
  <a class="link__link" href="/events/">Viðburðir</a> <br>
  <a class="link__link" href="/users/">Notendur</a> <br>
  <p class="user__logout"><a href="/admin/logout">Útskrá</a></p>
</div>

<%- include('footer') -%>
