ul {
  display: flex;
  font-size: 2rem;
  list-style: none;

}

ul li {
  /* stylelint-disable-next-line color-named */
  border: 1px solid blue;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
}

section {
  /* stylelint-disable-next-line color-named */
  background-color: yellow;
  margin: 0 auto;
  max-width: 1000px;
  overflow-wrap: break-word;
  width: 100%;
}
