<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin svæði</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Viðburðar umsjón</h1>

    <h2>Viðburðir á næstunni</h2>

    <% if (events.length===0) { %>
        <p>Engir Viðburðir</p>
    <% } else { %>
        <ul>
            <% events.forEach((events)=> { %>
              <li>
                <a href="/<%= events.slug%>"><%= events.name%></a> <br>
                <%= events.description%>
              </li>
            <% }) %>
        </ul>
    <% } %>
    
    <h2>Nýr viðburður</h2>

    <form method="post" enctype="application/x-www-form-urlencoded">

        <div class="field">
          <label for="name">Nafn*:</label>
          <input type="text" name="name">
        </div>

        <div class="field field--textarea">
          <label for="comment">Lýsing*:</label>
          <textarea name="comment"></textarea>
        </div>
        <input type="submit" class="button button--large button--margin" value="Skrá viðburð">
    </form>
    <p>Innskráður sem: <b>admin</b></p>
    <a href="/">Útskrá</a>
</body>
</html>