<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viðburðir</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>Viðburðasíðan</h1>

    <h2>Viðburðir á næstunni</h2>

    <% if (events.length===0) { %>
        <p>Engir Viðburðir</p>
    <% } else { %>
        <ul>
            <% events.forEach((events)=> { %>
              <li>
                <a href="/<%= events.slug%>"><%= events.name%></a> <br>
                <%= events.description%>
              </li>
            <% }) %>
        </ul>
    <% } %>
    <a href="/admin/login">Innskráning stjórnanda</a>
</body>
</html>